/* You can add global styles to this file, and also import other style files */
.male { background-color: blue; color: white }
.female {background-color: pink }
.uno > .label {
  color: red
}

.mymodal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(211, 255, 44, 0.8);
  z-index: 1000;
}


