<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>avanade2-demo1 documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">avanade2-demo1 documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>UsersFormComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/users/components/users-form.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnChanges" target="_blank" >OnChanges</a></code>
                    <code><a href="https://angular.io/api/core/AfterViewInit" target="_blank" >AfterViewInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-users-form</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;form #f&#x3D;&quot;ngForm&quot; (submit)&#x3D;&quot;save.emit(f.value)&quot; &gt;
  &lt;div *ngIf&#x3D;&quot;inputName.errors?.required &amp;&amp; f.dirty&quot;&gt;Campo obbligatorio&lt;/div&gt;
  &lt;div *ngIf&#x3D;&quot;inputName.errors?.minlength&quot;&gt;Campo troppo corto&lt;/div&gt;
  &lt;input
    class&#x3D;&quot;form-control&quot;
    [ngClass]&#x3D;&quot;{
      &#x27;is-invalid&#x27;: inputName.invalid &amp;&amp; f.dirty,
      &#x27;is-valid&#x27;: inputName.valid
    }&quot;
    type&#x3D;&quot;text&quot;
    [ngModel]&#x3D;&quot;activeUser?.name&quot;
    #inputName&#x3D;&quot;ngModel&quot; name&#x3D;&quot;name&quot; required minlength&#x3D;&quot;3&quot;
    placeholder&#x3D;&quot;Name&quot;
  &gt;
  &lt;input
    type&#x3D;&quot;text&quot;
    [ngModel]&#x3D;&quot;activeUser?.city&quot;
    #inputCity&#x3D;&quot;ngModel&quot;
    name&#x3D;&quot;city&quot; required
    class&#x3D;&quot;form-control&quot;
    [ngClass]&#x3D;&quot;{
      &#x27;is-invalid&#x27;: inputCity.invalid &amp;&amp; f.dirty,
      &#x27;is-valid&#x27;: inputCity.valid
    }&quot;
    placeholder&#x3D;&quot;City&quot;
  &gt;

  &lt;select
    [ngModel]&#x3D;&quot;activeUser?.gender&quot;
    name&#x3D;&quot;gender&quot; #inputGender&#x3D;&quot;ngModel&quot; required class&#x3D;&quot;form-control&quot;
    [ngClass]&#x3D;&quot;{
      &#x27;is-invalid&#x27;: inputGender.invalid &amp;&amp; f.dirty,
      &#x27;is-valid&#x27;: inputGender.valid
    }&quot;
  &gt;
    &lt;option [value]&#x3D;&quot;null&quot;&gt;Select a Gender&lt;/option&gt;
    &lt;option value&#x3D;&quot;M&quot;&gt;Male&lt;/option&gt;
    &lt;option value&#x3D;&quot;F&quot;&gt;Female&lt;/option&gt;
  &lt;/select&gt;

  &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;f.invalid&quot;&gt;
    {{activeUser?.id ? &#x27;EDIT&#x27; : &#x27;ADD&#x27;}}
  &lt;/button&gt;
  &lt;button type&#x3D;&quot;button&quot; (click)&#x3D;&quot;cleanHandler()&quot; *ngIf&#x3D;&quot;activeUser&quot;&gt;ADD NEW&lt;/button&gt;
&lt;/form&gt;

</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#myForm">myForm</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#cleanHandler">cleanHandler</a>
                            </li>
                            <li>
                                <a href="#ngAfterViewInit">ngAfterViewInit</a>
                            </li>
                            <li>
                                <a href="#ngOnChanges">ngOnChanges</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#activeUser">activeUser</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Outputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#clean">clean</a>
                            </li>
                            <li>
                                <a href="#save">save</a>
                            </li>
                        </ul>
                    </td>
                </tr>



        </tbody>
    </table>
</section>


    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="activeUser"></a>
                        <b>activeUser</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../interfaces/User.html" target="_self" >User</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="60" class="link-to-prism">src/app/features/users/components/users-form.component.ts:60</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>
    <section>
    <h3 id="outputs">Outputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="clean"></a>
                        <b>clean</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="62" class="link-to-prism">src/app/features/users/components/users-form.component.ts:62</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="save"></a>
                        <b>save</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="61" class="link-to-prism">src/app/features/users/components/users-form.component.ts:61</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>


    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="cleanHandler"></a>
                    <span class="name">
                        <b>
                            cleanHandler
                        </b>
                        <a href="#cleanHandler"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>cleanHandler()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="64"
                            class="link-to-prism">src/app/features/users/components/users-form.component.ts:64</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngAfterViewInit"></a>
                    <span class="name">
                        <b>
                            ngAfterViewInit
                        </b>
                        <a href="#ngAfterViewInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngAfterViewInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="76"
                            class="link-to-prism">src/app/features/users/components/users-form.component.ts:76</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnChanges"></a>
                    <span class="name">
                        <b>
                            ngOnChanges
                        </b>
                        <a href="#ngOnChanges"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnChanges(changes: <a href="https://angular.io/api/core/SimpleChanges" target="_blank">SimpleChanges</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="69"
                            class="link-to-prism">src/app/features/users/components/users-form.component.ts:69</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>changes</td>
                                    <td>
                                                <code><a href="https://angular.io/api/core/SimpleChanges" target="_blank" >SimpleChanges</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="myForm"></a>
                        <span class="name">
                            <b>
                            myForm</b>
                            <a href="#myForm"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://angular.io/api/forms/NgForm" target="_blank" >NgForm</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @ViewChild(&#x27;f&#x27;, {static: true})<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="59" class="link-to-prism">src/app/features/users/components/users-form.component.ts:59</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, Input, OnInit, Output, EventEmitter, ViewChild, OnChanges, SimpleChanges, AfterViewInit } from &#x27;@angular/core&#x27;;
import { User } from &#x27;../../../model/user&#x27;;
import { NgForm } from &#x27;@angular/forms&#x27;;

@Component({
  selector: &#x27;app-users-form&#x27;,
  template: &#x60;
    &lt;form #f&#x3D;&quot;ngForm&quot; (submit)&#x3D;&quot;save.emit(f.value)&quot; &gt;
      &lt;div *ngIf&#x3D;&quot;inputName.errors?.required &amp;&amp; f.dirty&quot;&gt;Campo obbligatorio&lt;/div&gt;
      &lt;div *ngIf&#x3D;&quot;inputName.errors?.minlength&quot;&gt;Campo troppo corto&lt;/div&gt;
      &lt;input
        class&#x3D;&quot;form-control&quot;
        [ngClass]&#x3D;&quot;{
          &#x27;is-invalid&#x27;: inputName.invalid &amp;&amp; f.dirty,
          &#x27;is-valid&#x27;: inputName.valid
        }&quot;
        type&#x3D;&quot;text&quot;
        [ngModel]&#x3D;&quot;activeUser?.name&quot;
        #inputName&#x3D;&quot;ngModel&quot; name&#x3D;&quot;name&quot; required minlength&#x3D;&quot;3&quot;
        placeholder&#x3D;&quot;Name&quot;
      &gt;
      &lt;input
        type&#x3D;&quot;text&quot;
        [ngModel]&#x3D;&quot;activeUser?.city&quot;
        #inputCity&#x3D;&quot;ngModel&quot;
        name&#x3D;&quot;city&quot; required
        class&#x3D;&quot;form-control&quot;
        [ngClass]&#x3D;&quot;{
          &#x27;is-invalid&#x27;: inputCity.invalid &amp;&amp; f.dirty,
          &#x27;is-valid&#x27;: inputCity.valid
        }&quot;
        placeholder&#x3D;&quot;City&quot;
      &gt;

      &lt;select
        [ngModel]&#x3D;&quot;activeUser?.gender&quot;
        name&#x3D;&quot;gender&quot; #inputGender&#x3D;&quot;ngModel&quot; required class&#x3D;&quot;form-control&quot;
        [ngClass]&#x3D;&quot;{
          &#x27;is-invalid&#x27;: inputGender.invalid &amp;&amp; f.dirty,
          &#x27;is-valid&#x27;: inputGender.valid
        }&quot;
      &gt;
        &lt;option [value]&#x3D;&quot;null&quot;&gt;Select a Gender&lt;/option&gt;
        &lt;option value&#x3D;&quot;M&quot;&gt;Male&lt;/option&gt;
        &lt;option value&#x3D;&quot;F&quot;&gt;Female&lt;/option&gt;
      &lt;/select&gt;
      
      &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;f.invalid&quot;&gt;
        {{activeUser?.id ? &#x27;EDIT&#x27; : &#x27;ADD&#x27;}}
      &lt;/button&gt;
      &lt;button type&#x3D;&quot;button&quot; (click)&#x3D;&quot;cleanHandler()&quot; *ngIf&#x3D;&quot;activeUser&quot;&gt;ADD NEW&lt;/button&gt;
    &lt;/form&gt;

  &#x60;,
  styles: [
  ]
})
export class UsersFormComponent implements OnChanges, AfterViewInit {
  @ViewChild(&#x27;f&#x27;, { static: true }) myForm: NgForm;
  @Input() activeUser: User;
  @Output() save &#x3D; new EventEmitter&lt;User&gt;();
  @Output() clean &#x3D; new EventEmitter();

  cleanHandler(): void {
    this.myForm.reset();
    this.clean.emit();
  }

  ngOnChanges(changes: SimpleChanges): void {
   console.log(&#x27;chnged&#x27;, this.activeUser, this.myForm)
    if (!this.activeUser?.id) {
      this.myForm.reset();
    }
  }

  ngAfterViewInit(): void {
    console.log(&#x27;after view init&#x27;, this.myForm)
  }

}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><form #f="ngForm" (submit)="save.emit(f.value)" >  <div *ngIf="inputName.errors?.required && f.dirty">Campo obbligatorio</div>  <div *ngIf="inputName.errors?.minlength">Campo troppo corto</div>  <input    class="form-control"    [ngClass]="{      \'is-invalid\': inputName.invalid && f.dirty,      \'is-valid\': inputName.valid    }"    type="text"    [ngModel]="activeUser?.name"    #inputName="ngModel" name="name" required minlength="3"    placeholder="Name"  >  <input    type="text"    [ngModel]="activeUser?.city"    #inputCity="ngModel"    name="city" required    class="form-control"    [ngClass]="{      \'is-invalid\': inputCity.invalid && f.dirty,      \'is-valid\': inputCity.valid    }"    placeholder="City"  >  <select    [ngModel]="activeUser?.gender"    name="gender" #inputGender="ngModel" required class="form-control"    [ngClass]="{      \'is-invalid\': inputGender.invalid && f.dirty,      \'is-valid\': inputGender.valid    }"  >    <option [value]="null">Select a Gender</option>    <option value="M">Male</option>    <option value="F">Female</option>  </select>  <button type="submit" [disabled]="f.invalid">    {{activeUser?.id ? \'EDIT\' : \'ADD\'}}  </button>  <button type="button" (click)="cleanHandler()" *ngIf="activeUser">ADD NEW</button></form></div>'
    var COMPONENTS = [{'name': 'AlertComponent', 'selector': 'app-alert'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'HelloComponent', 'selector': 'app-hello'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'IconGenderComponent', 'selector': 'app-icon-gender'},{'name': 'LoginComponent', 'selector': 'app-login'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'PanelComponent', 'selector': 'app-panel'},{'name': 'SettingsComponent', 'selector': 'app-settings'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UsersDetailsComponent', 'selector': 'app-users-details'},{'name': 'UsersFormComponent', 'selector': 'app-users-form'},{'name': 'UsersListComponent', 'selector': 'app-users-list'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'UsersFormComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'UsersFormComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
