<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>avanade2-demo1 documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">avanade2-demo1 documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>UsersListComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/users/components/users-list.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-users-list</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">
&lt;div
  *ngFor&#x3D;&quot;let user of users; let index &#x3D; index;&quot;
  class&#x3D;&quot;list-group-item&quot;
  [ngClass]&#x3D;&quot;{active: user.id &#x3D;&#x3D;&#x3D; activeUser?.id}&quot;
  (click)&#x3D;&quot;selectUser.emit(user)&quot;
&gt;
  &lt;div class&#x3D;&quot;label&quot;&gt;
    &lt;app-icon-gender [gender]&#x3D;&quot;user.gender&quot;&gt;&lt;/app-icon-gender&gt;
    {{index + 1}} ) {{user.name}} - {{user.age}}y - ({{user.id}})
    &lt;div class&#x3D;&quot;pull-right&quot;&gt;
      &lt;i class&#x3D;&quot;fa fa-link&quot; [routerLink]&#x3D;&quot;&#x27;/users/&#x27; + user.id&quot;&gt;&lt;/i&gt;
      &lt;i class&#x3D;&quot;fa fa-trash&quot; (click)&#x3D;&quot;deleteUserHandler(user, $event)&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#deleteUserHandler">deleteUserHandler</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#activeUser">activeUser</a>
                            </li>
                            <li>
                                <a href="#users">users</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Outputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#deleteUser">deleteUser</a>
                            </li>
                            <li>
                                <a href="#selectUser">selectUser</a>
                            </li>
                        </ul>
                    </td>
                </tr>



        </tbody>
    </table>
</section>


    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="activeUser"></a>
                        <b>activeUser</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../interfaces/User.html" target="_self" >User</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="30" class="link-to-prism">src/app/features/users/components/users-list.component.ts:30</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="users"></a>
                        <b>users</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../interfaces/User.html" target="_self" >User[]</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="29" class="link-to-prism">src/app/features/users/components/users-list.component.ts:29</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>
    <section>
    <h3 id="outputs">Outputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="deleteUser"></a>
                        <b>deleteUser</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="32" class="link-to-prism">src/app/features/users/components/users-list.component.ts:32</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="selectUser"></a>
                        <b>selectUser</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="31" class="link-to-prism">src/app/features/users/components/users-list.component.ts:31</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>


    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="deleteUserHandler"></a>
                    <span class="name">
                        <b>
                            deleteUserHandler
                        </b>
                        <a href="#deleteUserHandler"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>deleteUserHandler(user: <a href="../interfaces/User.html">User</a>, event: MouseEvent)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="34"
                            class="link-to-prism">src/app/features/users/components/users-list.component.ts:34</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>user</td>
                                    <td>
                                                <code><a href="../interfaces/User.html" target="_self" >User</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>event</td>
                                    <td>
                                            <code>MouseEvent</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, Input, EventEmitter, Output } from &#x27;@angular/core&#x27;;
import { User } from &#x27;../../../model/user&#x27;;

@Component({
  selector: &#x27;app-users-list&#x27;,
  template: &#x60;

    &lt;div
      *ngFor&#x3D;&quot;let user of users; let index &#x3D; index;&quot;
      class&#x3D;&quot;list-group-item&quot;
      [ngClass]&#x3D;&quot;{active: user.id &#x3D;&#x3D;&#x3D; activeUser?.id}&quot;
      (click)&#x3D;&quot;selectUser.emit(user)&quot;
    &gt;
      &lt;div class&#x3D;&quot;label&quot;&gt;
        &lt;app-icon-gender [gender]&#x3D;&quot;user.gender&quot;&gt;&lt;/app-icon-gender&gt;
        {{index + 1}} ) {{user.name}} - {{user.age}}y - ({{user.id}})
        &lt;div class&#x3D;&quot;pull-right&quot;&gt;
          &lt;i class&#x3D;&quot;fa fa-link&quot; [routerLink]&#x3D;&quot;&#x27;/users/&#x27; + user.id&quot;&gt;&lt;/i&gt;
          &lt;i class&#x3D;&quot;fa fa-trash&quot; (click)&#x3D;&quot;deleteUserHandler(user, $event)&quot;&gt;&lt;/i&gt;
        &lt;/div&gt;
      &lt;/div&gt;

    &lt;/div&gt;
  &#x60;,
  styles: [
  ]
})
export class UsersListComponent {
  @Input() users: User[];
  @Input() activeUser: User;
  @Output() selectUser &#x3D; new EventEmitter&lt;User&gt;();
  @Output() deleteUser &#x3D; new EventEmitter&lt;User&gt;();

  deleteUserHandler(user: User, event: MouseEvent): void {
    event.stopPropagation();
    this.deleteUser.emit(user);
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div  *ngFor="let user of users; let index = index;"  class="list-group-item"  [ngClass]="{active: user.id === activeUser?.id}"  (click)="selectUser.emit(user)">  <div class="label">    <app-icon-gender [gender]="user.gender"></app-icon-gender>    {{index + 1}} ) {{user.name}} - {{user.age}}y - ({{user.id}})    <div class="pull-right">      <i class="fa fa-link" [routerLink]="\'/users/\' + user.id"></i>      <i class="fa fa-trash" (click)="deleteUserHandler(user, $event)"></i>    </div>  </div></div></div>'
    var COMPONENTS = [{'name': 'AlertComponent', 'selector': 'app-alert'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'HelloComponent', 'selector': 'app-hello'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'IconGenderComponent', 'selector': 'app-icon-gender'},{'name': 'LoginComponent', 'selector': 'app-login'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'PanelComponent', 'selector': 'app-panel'},{'name': 'SettingsComponent', 'selector': 'app-settings'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UsersDetailsComponent', 'selector': 'app-users-details'},{'name': 'UsersFormComponent', 'selector': 'app-users-form'},{'name': 'UsersListComponent', 'selector': 'app-users-list'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'UsersListComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'UsersListComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
