<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>avanade2-demo1 documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">avanade2-demo1 documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>UsersDetailsComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/users-details/users-details.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-users-details</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">
&lt;app-alert
  msg&#x3D;&quot;user not found&quot;
  type&#x3D;&quot;alert-warning&quot;
  *ngIf&#x3D;&quot;error&quot;
  (iconClick)&#x3D;&quot;error &#x3D; false&quot;
&gt;&lt;/app-alert&gt;

&lt;div *ngIf&#x3D;&quot;data; else loader &quot;&gt;
  &lt;form #f&#x3D;&quot;ngForm&quot; (submit)&#x3D;&quot;save(f.value)&quot;&gt;
    &lt;input type&#x3D;&quot;text&quot; [ngModel]&#x3D;&quot;data?.name&quot; name&#x3D;&quot;name&quot;&gt;
    &lt;input type&#x3D;&quot;text&quot; [ngModel]&#x3D;&quot;data?.city&quot; name&#x3D;&quot;city&quot;&gt;
    &lt;button type&#x3D;&quot;submit&quot;&gt;SAVE&lt;/button&gt;
  &lt;/form&gt;
  &lt;hr&gt;

  &lt;pre&gt;{{data | json}}&lt;/pre&gt;
  &lt;button routerLink&#x3D;&quot;/users&quot;&gt;back to list&lt;/button&gt;
&lt;/div&gt;

&lt;ng-template #loader&gt;
  &lt;div *ngIf&#x3D;&quot;!error&quot;&gt;
  LOADING
  &lt;/div&gt;
&lt;/ng-template&gt;

</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#currentId">currentId</a>
                            </li>
                            <li>
                                <a href="#data">data</a>
                            </li>
                            <li>
                                <a href="#error">error</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#save">save</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(activatedRouter: <a href="https://angular.io/api/router/ActivatedRoute" target="_blank">ActivatedRoute</a>, http: <a href="https://angular.io/api/common/http/HttpClient" target="_blank">HttpClient</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="43" class="link-to-prism">src/app/features/users-details/users-details.component.ts:43</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>activatedRouter</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/router/ActivatedRoute" target="_blank" >ActivatedRoute</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>http</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/common/http/HttpClient" target="_blank" >HttpClient</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="save"></a>
                    <span class="name">
                        <b>
                            save
                        </b>
                        <a href="#save"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>save(formData: <a href="../interfaces/User.html">Pick<User | "name" | "city"></a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="63"
                            class="link-to-prism">src/app/features/users-details/users-details.component.ts:63</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>formData</td>
                                    <td>
                                                <code><a href="../interfaces/User.html" target="_self" >Pick&lt;User | &quot;name&quot; | &quot;city&quot;&gt;</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="currentId"></a>
                        <span class="name">
                            <b>
                            currentId</b>
                            <a href="#currentId"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="43" class="link-to-prism">src/app/features/users-details/users-details.component.ts:43</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="data"></a>
                        <span class="name">
                            <b>
                            data</b>
                            <a href="#data"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/User.html" target="_self" >User</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="41" class="link-to-prism">src/app/features/users-details/users-details.component.ts:41</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="error"></a>
                        <span class="name">
                            <b>
                            error</b>
                            <a href="#error"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="42" class="link-to-prism">src/app/features/users-details/users-details.component.ts:42</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit } from &#x27;@angular/core&#x27;;
import { ActivatedRoute } from &#x27;@angular/router&#x27;;
import { HttpClient } from &#x27;@angular/common/http&#x27;;
import { User } from &#x27;../../model/user&#x27;;
import { delay } from &#x27;rxjs/operators&#x27;;

@Component({
  selector: &#x27;app-users-details&#x27;,
  template: &#x60;
    
    &lt;app-alert 
      msg&#x3D;&quot;user not found&quot;
      type&#x3D;&quot;alert-warning&quot;
      *ngIf&#x3D;&quot;error&quot;
      (iconClick)&#x3D;&quot;error &#x3D; false&quot;
    &gt;&lt;/app-alert&gt;

    &lt;div *ngIf&#x3D;&quot;data; else loader &quot;&gt;
      &lt;form #f&#x3D;&quot;ngForm&quot; (submit)&#x3D;&quot;save(f.value)&quot;&gt;
        &lt;input type&#x3D;&quot;text&quot; [ngModel]&#x3D;&quot;data?.name&quot; name&#x3D;&quot;name&quot;&gt;
        &lt;input type&#x3D;&quot;text&quot; [ngModel]&#x3D;&quot;data?.city&quot; name&#x3D;&quot;city&quot;&gt;
        &lt;button type&#x3D;&quot;submit&quot;&gt;SAVE&lt;/button&gt;
      &lt;/form&gt;
      &lt;hr&gt;
      
      &lt;pre&gt;{{data | json}}&lt;/pre&gt;
      &lt;button routerLink&#x3D;&quot;/users&quot;&gt;back to list&lt;/button&gt;
    &lt;/div&gt;
    
    &lt;ng-template #loader&gt;
      &lt;div *ngIf&#x3D;&quot;!error&quot;&gt;
      LOADING
      &lt;/div&gt;
    &lt;/ng-template&gt;
    
  &#x60;,
  styles: [
  ]
})
export class UsersDetailsComponent {
  data: User;
  error: boolean;
  currentId: number;

  constructor(
    private activatedRouter: ActivatedRoute,
    private http: HttpClient
  ) {
    this.currentId &#x3D; activatedRouter.snapshot.params.id;
    http.get&lt;User&gt;(&#x60;http://localhost:3000/users/${this.currentId}&#x60;)
      .pipe(
        delay(1000)
      )
      .subscribe(
        res &#x3D;&gt; {
          this.data &#x3D; res;
        },
        err &#x3D;&gt; this.error &#x3D; true
      );
  }

  // typescript utility types
  save(formData: Pick&lt;User, &#x27;name&#x27; | &#x27;city&#x27;&gt;): void {
    this.http.patch&lt;User&gt;(&#x27;http://localhost:3000/users/&#x27; + this.currentId, formData)
      .subscribe(res &#x3D;&gt; {
        this.data &#x3D; res;
      });
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><app-alert  msg="user not found"  type="alert-warning"  *ngIf="error"  (iconClick)="error = false"></app-alert><div *ngIf="data; else loader ">  <form #f="ngForm" (submit)="save(f.value)">    <input type="text" [ngModel]="data?.name" name="name">    <input type="text" [ngModel]="data?.city" name="city">    <button type="submit">SAVE</button>  </form>  <hr>  <pre>{{data | json}}</pre>  <button routerLink="/users">back to list</button></div><ng-template #loader>  <div *ngIf="!error">  LOADING  </div></ng-template></div>'
    var COMPONENTS = [{'name': 'AlertComponent', 'selector': 'app-alert'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'HelloComponent', 'selector': 'app-hello'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'IconGenderComponent', 'selector': 'app-icon-gender'},{'name': 'LoginComponent', 'selector': 'app-login'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'PanelComponent', 'selector': 'app-panel'},{'name': 'SettingsComponent', 'selector': 'app-settings'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UsersDetailsComponent', 'selector': 'app-users-details'},{'name': 'UsersFormComponent', 'selector': 'app-users-form'},{'name': 'UsersListComponent', 'selector': 'app-users-list'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'UsersDetailsComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'UsersDetailsComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
