<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>avanade2-demo1 documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">avanade2-demo1 documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>UsersComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/users/users.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-users</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;app-alert
  msg&#x3D;&quot;Errore lato server&quot;
  type&#x3D;&quot;alert-info&quot;
  *ngIf&#x3D;&quot;usersService.error&quot;
  (iconClick)&#x3D;&quot;usersService.error &#x3D; false&quot;
&gt;&lt;/app-alert&gt;

&lt;app-users-form
  [activeUser]&#x3D;&quot;usersService.activeUser&quot;
  (save)&#x3D;&quot;usersService.save($event)&quot;
  (clean)&#x3D;&quot;usersService.cleanHandler()&quot;
&gt;&lt;/app-users-form&gt;

&lt;hr&gt;
&lt;app-users-list
  [users]&#x3D;&quot;usersService.users&quot;
  [activeUser]&#x3D;&quot;usersService.activeUser&quot;
  (selectUser)&#x3D;&quot;usersService.selectActiveHandler($event)&quot;
  (deleteUser)&#x3D;&quot;usersService.deleteHandler($event)&quot;
&gt;&lt;/app-users-list&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#usersService">usersService</a>
                            </li>
                        </ul>
                    </td>
                </tr>






        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(usersService: <a href="../injectables/UsersService.html">UsersService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="34" class="link-to-prism">src/app/features/users/users.component.ts:34</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>usersService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/UsersService.html" target="_self" >UsersService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>






    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="usersService"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            usersService</b>
                            <a href="#usersService"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../injectables/UsersService.html" target="_self" >UsersService</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="35" class="link-to-prism">src/app/features/users/users.component.ts:35</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, ViewChild, ViewEncapsulation } from &#x27;@angular/core&#x27;;
import { User } from &#x27;../../model/user&#x27;;
import { NgForm } from &#x27;@angular/forms&#x27;;
import { environment } from &#x27;../../../environments/environment&#x27;;
import { HttpClient } from &#x27;@angular/common/http&#x27;;
import { UsersService } from &#x27;./services/users.service&#x27;;

@Component({
  selector: &#x27;app-users&#x27;,
  template: &#x60;
    &lt;app-alert
      msg&#x3D;&quot;Errore lato server&quot;
      type&#x3D;&quot;alert-info&quot;
      *ngIf&#x3D;&quot;usersService.error&quot;
      (iconClick)&#x3D;&quot;usersService.error &#x3D; false&quot;
    &gt;&lt;/app-alert&gt;
    
    &lt;app-users-form
      [activeUser]&#x3D;&quot;usersService.activeUser&quot;
      (save)&#x3D;&quot;usersService.save($event)&quot;
      (clean)&#x3D;&quot;usersService.cleanHandler()&quot;
    &gt;&lt;/app-users-form&gt;
      
    &lt;hr&gt;
    &lt;app-users-list
      [users]&#x3D;&quot;usersService.users&quot;
      [activeUser]&#x3D;&quot;usersService.activeUser&quot;
      (selectUser)&#x3D;&quot;usersService.selectActiveHandler($event)&quot;
      (deleteUser)&#x3D;&quot;usersService.deleteHandler($event)&quot;
    &gt;&lt;/app-users-list&gt;
  &#x60;,

})
export class UsersComponent {
  constructor(public usersService: UsersService) {
    this.usersService.cleanHandler();
    this.usersService.getAll();
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><app-alert  msg="Errore lato server"  type="alert-info"  *ngIf="usersService.error"  (iconClick)="usersService.error = false"></app-alert><app-users-form  [activeUser]="usersService.activeUser"  (save)="usersService.save($event)"  (clean)="usersService.cleanHandler()"></app-users-form><hr><app-users-list  [users]="usersService.users"  [activeUser]="usersService.activeUser"  (selectUser)="usersService.selectActiveHandler($event)"  (deleteUser)="usersService.deleteHandler($event)"></app-users-list></div>'
    var COMPONENTS = [{'name': 'AlertComponent', 'selector': 'app-alert'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'HelloComponent', 'selector': 'app-hello'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'IconGenderComponent', 'selector': 'app-icon-gender'},{'name': 'LoginComponent', 'selector': 'app-login'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'PanelComponent', 'selector': 'app-panel'},{'name': 'SettingsComponent', 'selector': 'app-settings'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UsersDetailsComponent', 'selector': 'app-users-details'},{'name': 'UsersFormComponent', 'selector': 'app-users-form'},{'name': 'UsersListComponent', 'selector': 'app-users-list'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'UsersComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'UsersComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
